html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-bottom: 24px;
}
main {
    max-width: 720px;
    margin: auto;
}
.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    padding: 48px 0px;
}
.inputBox > #ipInput {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: solid black 2px;
}
.inputBox > #ipSubmit {
    padding: 10px;
    border-radius: 4px;
    border: solid black 2px;
    background-color: skyblue;
}
.inputBox > #ipSubmit:hover {
    background-color: rgb(169, 211, 227);
}
.inputBox > #ipInput:focus {
    outline: solid 2px steelblue;
}
.inputBox > #ipSubmit:focus {
    outline: solid 2px steelblue;
}
#result {
    border-radius: 4px;
    border: solid black 2px;
    box-sizing: border-box;
    padding: 10px;
}
#result > span {
    font-size: 24px;
    font-weight: bold;
}
#result > hr {
    border: 1px dashed  black;
}
#result > #resultData {
    display: flex;
    gap: 2px;
    flex-flow: column;
}
footer {
    margin-top: 40px;
    text-align: center;
}
ol>li::marker {
    font-weight: bold;
    font-size: 20px;
}
#article {
    margin-top: 48px;
}
.link:focus {
    outline: solid 2px steelblue;
}
.link:focus::before {
    content: '★';
}
.link:focus::after {
    content: '★';
}
.link:hover::before {
    content: '★';
}
.link:hover::after {
    content: '★';
}
#map {
    max-width: 720px;
    height: 300px;
    overflow: hidden;
}